site_name: {{project_name}}
repo_url: {{github_url}}
site_url: https://{{github_username}}.github.io/{{project_slug}}/
site_description: {{description}}
site_author: {{author_name}}
use_directory_urls: false
strict: true
nav:
  - Home:
      - Index: index.md
  - Contributing:
      - Guide: contributing/contributing.md
      - Code of Conduct: contributing/code_of_conduct.md
plugins:
  - search
theme:
  name: material
  palette:
    - scheme: default
      primary: indigo
      accent: blue
      toggle:
        icon: material/lightbulb
        name: Switch to light mode
    - scheme: slate
      primary: indigo
      accent: blue
      toggle:
        icon: material/lightbulb-outline
        name: Switch to dark mode
markdown_extensions:
  - codehilite
  - pymdownx.highlight:
      use_pygments: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.inlinehilite
  - admonition
  - extra
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_div_format
  - pymdownx.details
  - pymdownx.tabbed
  - toc:
      permalink: true
