# {{project_name}}

[![License](https://img.shields.io/github/license/{{github_username}}/{{project_slug}})](https://github.com/{{github_username}}/{{project_slug}})
[![PyPI](https://img.shields.io/pypi/v/{{project_slug}}.svg?logo=python)](https://pypi.python.org/pypi/{{project_slug}})
[![GitHub](https://img.shields.io/github/v/release/{{github_username}}/{{project_slug}}?logo=github&sort=semver)](https://github.com/{{github_username}}/{{project_slug}})
[![Code Style](https://img.shields.io/badge/code%20style-black-black)](https://github.com/{{github_username}}/{{project_slug}})
[![CI](https://github.com/{{github_username}}/{{project_slug}}/workflows/CI/badge.svg)](https://github.com/{{github_username}}/{{project_slug}}/actions?query=workflow%3ACI)
[![Coverage](https://github.com/{{github_username}}/{{project_slug}}/raw/main/docs/img/coverage.svg)](https://github.com/{{github_username}}/{{project_slug}})

{{description}}

* Free software: {{license}}

* Documentation: [https://{{github_username}}.github.io/{{project_slug}}/](<https://{{github_username}}.github.io/{{project_slug}}/>)

## Project Description

## Installation

## Quickstart

## Contributing

`{{project_slug}}` is an open source project and, as such, welcomes contributions of all kinds :smiley:

Your best bet is to check out the [contributing guide] in the docs!

### Credits

This package was created with [copier] and the [FollowTheProcess/copier_pypackage] project template.

[copier]: https://github.com/copier-org/copier
[FollowTheProcess/copier_pypackage]: https://github.com/FollowTheProcess/copier_pypackage
[contributing guide]: https://{{github_username}}.github.io/{{project_slug}}/contributing/contributing.html
