[build-system]
build-backend = "flit_core.buildapi"
requires = [
  "flit_core>=3.2",
]

[project]
name = "{{project_slug}}"
version = "0.1.0"
description = "{{description}}"
readme = "README.md"
license = { text = "{{license}}" }
maintainers = [
  { name = "{{author_name}}" },
  { email = "{{author_email}}" },
]
authors = [
  { name = "{{author_name}}" },
  { email = "{{author_email}}" },
]
requires-python = ">=3.8"
dependencies = [
]
classifiers = [
  "Development Status :: 3 - Alpha",
  "Natural Language :: English",
  "Programming Language :: Python :: 3",
  "Programming Language :: Python :: 3 :: Only",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Typing :: Typed",
]
[project.optional-dependencies]
dev = [
  "black>=22.10",
  "build>=0.9",
  "coverage[toml]>=6.5",
  "coverage-badge>=1.1",
  "flake8>=6",
  "flake8-bugbear>=22.10.27",
  "isort>=5.10.1",
  "mkdocs>=1.4.2",
  "mkdocs-material>=8.5.03",
  "mypy>=0.991",
  "nox>=2022.11.21",
  "pre-commit>=2.20",
  "pytest>=7.2",
  "pytest-cov>=4",
]

[project.urls]
documentation = "https://{{github_username}}.github.io/{{project_slug}}/"
homepage = "{{github_url}}"
repository = "{{github_url}}"


[tool.isort]
profile = "black"

[tool.coverage.run]
omit = [ "**/*/__init__.py" ]
branch = true

[tool.mypy]
files = [ "**/*.py" ]
ignore_missing_imports = true
strict = true
pretty = true
disallow_untyped_decorators = false
show_error_codes = true
warn_unreachable = true
enable_error_code = [ "ignore-without-code", "redundant-expr", "truthy-bool" ]

[tool.pytest.ini_options]
minversion = "7.0"
addopts = [ "-ra", "--strict-markers", "--strict-config" ]
xfail_strict = true
filterwarnings = [ "error" ]
log_cli_level = "info"
testpaths = [ "tests" ]
pythonpath = [ "src" ]

[tool.pycln]
path = "/src"
expand_stars = true
all = true
no_gitignore = false
